using ST10045251_CLDV6212_POE.Models;



<form asp-action="SendOrderEvent" method="post">
    <label for="orderDetails">Order Details:</label>
    <input type="text" id="orderDetails" name="orderDetails" />
    <button type="submit">Send Event</button>
</form>
