@{
    ViewData["Title"] = "Upload Product Image";
}

<h2>Upload Product Image</h2>

<form asp-action="UploadImage" method="post" enctype="multipart/form-data">
    <div>
        <label>Select Image</label>
        <input type="file" name="file" />
    </div>
    <br />
    <button type="submit">Upload</button>
</form>
